.ChannelParameter {
	&--container {
		width: 100%;
		height: 100%;
		position: relative;
		overflow: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;
	}
	width: 100%;
	min-height: 100%;
	box-sizing: border-box;
	position: absolute;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
	padding: 0 5% 30px 5%;
	&__image {
		min-width: 200px;
		min-height: 200px;
		border: 5px solid white;
		background-color: black;
		border-radius: 50%;
		position: relative;
		margin-top: 20px;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}
	&__name {
		font-size: 30px;
		z-index: 1;
		background-color: black;
		border-top: 5px solid white;
	}
}

.InvisibleInput {
	margin-top: 30px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	width: 100%;
	user-select: none;
	&__title {
		font-size: 20px;
		padding-left: 10px;
		color: $dark-grey;
	}
	&__input {
		color: white;
		cursor: pointer;
		background-color: transparent;
		outline: none;
		border: none;
		border-bottom: 2px solid white;
		border-radius: 2px;
		height: min-content;
		font-size: 25px;
		width: 100%;
		z-index: 1;
		position: relative;
		padding: 0 10px;
		margin: 0;
		box-sizing: border-box;
	}
	&__container {
		flex-grow: 1;
		position: relative;
		overflow: hidden;
	}
	&--bg {
		background-color: rgb(212, 212, 212);
		opacity: 0.4;
		width: 100%;
		height: 100%;
		position: absolute;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		animation: 0.1s ease-in-out scale;
	}		
	&--lock {
		z-index: 2;
		background-color: rgb(105, 105, 105);
		width: 100%;
		height: 100%;
		position: absolute;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
		opacity: 0.6;
		cursor: not-allowed;
	}
}

@keyframes scale {
	from { transform: translateX(-100%); }
	to   { transform:translateX(0%); }
  }