$grey: #D9D9D9;
$dark-grey: #8F8A8A;

.Chat {
	display: flex;
	width: 100vw;
	max-width: 1200px;
	height: 750px;
	&__channels {
		margin: 7px 0;
		&__bubble {
			width: 60px;
			height: 60px;
			background-color: $grey;
			border-radius: 50%;
			margin: 15px 15px;
			color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: transform 0.1s ease-out;
			transition: box-shadow 0.1s ease-in;
			&:hover
			{
				transform: scale(1.05);
				box-shadow: 0px 0px 20px 1px #0ff;
			}
		}
	}

	&__right {
		border-left: 2px solid $dark-grey;
		width: 100%;
		display: flex;
		flex-direction: column;
		&__roomName {
			background-color: $grey;
			color: black;
			border-bottom: 2px solid $dark-grey;
			text-align: center;
			width: 100%;
			font-size: 40px;
			padding: 10px 0;
			font-family: PixelBit;
		}
		&__room {
			width: 100%;
			height: 100%;
			flex-grow: 1;
			display: flex;
			position: relative;
		}
	}
}

.RoomUsers {
	&--container {
		overflow: scroll;
		width: 30%;
		max-width: 240px;
		position: relative;
		background-color: $grey;
	}
	position: absolute;
	width: 100%;

	padding: 10px 20px;
	box-sizing: border-box;
	color: black;
	&__section {
		&__name {
			font-size: 20px;
			margin: 7px 0;
		}
		&__profile {
			display: flex;
			align-items: center;
			border-radius: 5px;
			&__name {
				padding-left: 10px;
				font-size: 17px;
			}
			&__image {
				width: 40px;
				height: 40px;
				background-color: $dark-grey;
				border-radius: 50%;
			}
		}
	}
}

.ChatUi {
	flex-grow: 1;
}