$grey: #D9D9D9;
$dark-grey: #8F8A8A;

.Chat {
	display: flex;
	width: 90vw;
	max-width: 1400px;
	height: 70vh;
	&__channels {
		padding: 7px 0;
		overflow: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;
		z-index: 3;
		background-color: black;
		padding: 0 10px;
		&__bubble {
			width: 60px;
			height: 60px;
			background-color: $grey;
			border-radius: 50%;
			margin: 10px 0;
			color: black;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: transform 0.1s ease-out;
			transition: box-shadow 0.1s ease-in;
			&:hover
			{
				transform: scale(1.05);
				box-shadow: 0px 0px 20px 1px #0ff;
			}
		}
	}

	&__right {
		border-left: 2px solid $dark-grey;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		&__roomName {
			background-color: $grey;
			color: black;
			border-bottom: 2px solid $dark-grey;
			width: 100%;
			font-size: 40px;
			padding: 10px 0;
			font-family: PixelBit;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&__image {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-color: red;
				margin: 0 20px;
			}
			&__menu {
				width: 35px;
				height: 35px;
				padding: 0 10px;
			}
			transition: box-shadow 0.1s ease-in;
			z-index: 2;
			&:hover
			{
				box-shadow: 0px 0px 20px 1px #0ff;
			}
		}
		&__room {
			width: 100%;
			height: 100%;
			flex-grow: 1;
			display: flex;
			position: relative;
		}
	}
}

.RoomUsers {
	&--container {
		overflow: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;
		width: 30%;
		max-width: 240px;
		min-width: 240px;
		position: relative;
		background-color: $grey;
	}
	position: absolute;
	width: 100%;

	padding: 10px 20px;
	box-sizing: border-box;
	color: black;
	&__section {
		&__name {
			font-size: 20px;
			margin: 7px 0;
		}
		&__profile {
			display: flex;
			align-items: center;
			border-radius: 5px;
			&__name {
				padding-left: 10px;
				font-size: 17px;
			}
			&__image {
				width: 40px;
				height: 40px;
				background-color: $dark-grey;
				border-radius: 50%;
			}
		}
	}
}

.ChatUi {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 0 5% 30px 5%;
	&__message {
		width: 100%;
		flex-grow: 1;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		overflow: scroll;
		-ms-overflow-style: none;  /* IE and Edge */
		scrollbar-width: none;
		position: relative;
		margin-bottom: 30px;
		&__container {
			width: 100%;
			position: absolute;
			display: flex;
			flex-direction: column;
		}
	}
	&__input {
		display: flex;
		width: 100%;
		background-color: white;
		border-radius: 2px;
		padding: 10px 20px;
		box-sizing: border-box;
		cursor:text;
		textarea {
			flex-grow: 1;
			resize: none;
			flex-grow: 1;
			border: 0px;
			outline: none;
			font-size: 15px;
			margin-right: 20px;
			align-self: center;
		}
		&__button {
			color: black;
			width: 30px;
			height: 30px;
			cursor: pointer;
			transition: transform 0.1s ease-out;
			margin-left: 10px;
			&:hover
			{
				transform: scale(1.2);
			}
		}
	}
}
