body, #root, .App {
	margin: 0;
	padding: 0;
	background-color:  black;
	width: 100vw;
	height: 100vh;
	font-family: PixelBit;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.workZone {

	width: 100%;
	max-width: 800px;
	position: relative;
	border-right: 2px solid white;
	border-left: 2px solid white;
	border-top: 2px solid white;
	padding-top: 30px;
	border-radius: 5px;
	margin: 20px 0;

	flex-direction: column;
}