.chatIcon {

	position: absolute;
	width: 140px;
	height: 140px;
	left: 5px;
	top: 5px;
	cursor: pointer;
	user-select: none;
	z-index: 999;
}
.chatBox {
	width: 100%;
	background-color: white;
	color: black;
	cursor: pointer;
	display: none;
	justify-content: center;
	border-bottom: 3px solid black;
	padding: 5px 0;

	img {
		width: 70px;
		margin: 0 20px;
		aspect-ratio: 1/1;
	}
}

@media screen and (max-width: 700px) {
	.chatIcon {
		display: none;
	}
	.chatBox {
		display: flex;
	}
}
