.ModalBox {

	position: absolute;
	top: 10vh;
	left: 50vw;
	transform: translateX(-50%); /* @todo */
	border-radius: 5px;
	overflow: hidden;
	min-width: 50vw;
	max-width: 96vw;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	&__title {
		width: 100%;
		font-size: 40px;
		background-color: white;
		color: black;
		text-align: center;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 10px 0;
	}
	&__content {
		font-size: 20px;
		width: 100vw;
		max-width: 800px;
		padding: 40px 25px;
	}
	&__bottomBox {
		background-color: white;
		color: black;
		width: 100%;
		text-align: center;
		font-size: 30px;
		padding: 20px 0;
		cursor: pointer;
		border-top: 3px solid black;

		transition: box-shadow 0.4s ease-in;
		transition: transform 0.1s ease-out;
		&:hover
		{
			box-shadow: 0px 0px 20px 1px #0ff;
			transform: scale(1.05);
		}
		&--b {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}
}