.rightClickMenu {
    &--container {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    position: absolute;
    color: white;
    background: #383737;
    width: 200px;
    z-index: 2;
    border-radius: 3px;
    // padding: 10px 0;
	ul {
		padding: 0;
		margin: 10px 0;
	}
    li {
		list-style: none;
        padding: 7px 0;
        padding-left: 20px;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		cursor: pointer;
        &:hover {
            background: #18A0FB;
        }
	}
}