.smallButton {
	min-width: 300px;
	font-size: 23px;
	border: none;
	border-radius: 5px;
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 5px 0;
	transition: box-shadow 0.4s ease-in;
	transition: transform 0.1s ease-out;
	&:hover
	{
		box-shadow: 0px 0px 20px 1px #0ff;
		transform: scale(1.05);
	}
}